<% reset_password_link = "#{ENV['FRONTEND_APP_HOST']}/newpassword/#{@token}" %>
<%= link_to reset_password_link do %>
   <button class="new-password-button">
     Choose a new password
   </button>
<% end %>
